## F1. Schools: pre-process

To solve this question you are required to submit **a result csv-ﬁle** after processing an input ﬁle.

You are given a data ﬁle *schools.csv*.

In this question you are provided with a dataset of school statistics and performance on standardised national tests. You are required to perform a series of manipulations and calculations on the dataset.

Data dictionary:

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-snxj{background-color:#FFF;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-613o{background-color:#FFF;border-color:inherit;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-lsmd{background-color:#F5F5F5;border-color:inherit;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-aahv{background-color:#E1F5FE;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-66kb{background-color:#FFF;border-color:inherit;color:rgba(0, 0, 0, 0.87);font-weight:bold;text-align:left;
  vertical-align:middle}
.tg .tg-59uy{background-color:#FFF;color:rgba(0, 0, 0, 0.87);font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-cq2y{background-color:#F5F5F5;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-66kb"><span style="font-weight:bold">Col.num</span></th>
    <th class="tg-66kb"><span style="font-weight:bold">Col.name</span></th>
    <th class="tg-59uy"><span style="font-weight:bold">format</span></th>
    <th class="tg-59uy"><span style="font-weight:bold">notes</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-613o">1</td>
    <td class="tg-613o">School Index</td>
    <td class="tg-snxj">number</td>
    <td class="tg-snxj">Unique school ID</td>
  </tr>
  <tr>
    <td class="tg-lsmd">2</td>
    <td class="tg-lsmd">District</td>
    <td class="tg-cq2y">number</td>
    <td class="tg-cq2y">Zip code for the school area</td>
  </tr>
  <tr>
    <td class="tg-613o">3-4</td>
    <td class="tg-613o">Lowest/Highest Year</td>
    <td class="tg-snxj">text</td>
    <td class="tg-snxj">String corresponding to the value of the lowest/highest grade year in the school. Range from low to high: PK,0K,1,2,3,4,5,6,7,8,9,10,11,12</td>
  </tr>
  <tr>
    <td class="tg-lsmd">5</td>
    <td class="tg-lsmd">School Income Estimate</td>
    <td class="tg-cq2y">text</td>
    <td class="tg-cq2y">Estimated average income for families in the school</td>
  </tr>
  <tr>
    <td class="tg-snxj">6-9</td>
    <td class="tg-snxj">Average Proficiency Score,</td>
    <td class="tg-snxj">percent</td>
    <td class="tg-snxj">School performance statistics</td>
  </tr>
  <tr>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y">Student Attendance Rate,</td>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj"></td>
    <td class="tg-snxj">Students Chronically Absent,</td>
    <td class="tg-snxj"></td>
    <td class="tg-snxj"></td>
  </tr>
  <tr>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y">Rigorous Instruction</td>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj">10-13</td>
    <td class="tg-snxj">Year X - All Students Tested</td>
    <td class="tg-snxj">number</td>
    <td class="tg-snxj">Total number of students in that grade year that were tested in standardised exam</td>
  </tr>
  <tr>
    <td class="tg-cq2y">14-17</td>
    <td class="tg-cq2y">Year X - Top Scoring</td>
    <td class="tg-cq2y">number</td>
    <td class="tg-cq2y">Number of students in that grade year that achieved the maximum grade category in the standardised exam</td>
  </tr>
  <tr>
    <td class="tg-aahv">18</td>
    <td class="tg-aahv">Student Achievement Rating</td>
    <td class="tg-aahv">text</td>
    <td class="tg-aahv">Verbal estimate of school performance on standardised tests</td>
  </tr>
</tbody></table>

Clean the dataset and correct errors in the following manner (**in the listed order**):

* Remove entries (rows) with any of the following data entry errors:
    - Student Attendance Rate $\leq 0$
    - Rigorous Instruction $\leq 0$
    - Students Chronically Absent $\geq 100\%$
* Remove entries (rows) with N/A in “Student Achievement Rating” OR “Average Proﬁciency Score”
* Convert “Student Achievement Rating” column from text into numeric values as follows:
    - Not Meeting Target $= 0.0$
    - Approaching Target $= 0.5$
    - Meeting Target $= 0.8$
    - Exceeding Target $= 1.0$

### Input format

<a rel="noopener noreferrer" href="./datasets/F1/schools.csv" target="_blank">schools.csv</a> 

### Output format

Submit the resulting csv ﬁle: *schools.csv*. Do not reorder columns or rows in the ﬁle.

### Notes

Maximum points for question **F1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [ ]:
### Initial candidate answer code

In [ ]:
# Use print("messages...") to debug your solution.
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/F1/schools.csv')

def solution(df):
    # Your code goes here
    return pd.DataFrame([])

In [ ]:
### Initial candidate test code

In [ ]:
df = pd.read_csv('./datasets/F1/schools.csv')
df.head()

solution(df)

In [ ]:
### Autograder part (hidden from the candidate)

In [ ]:
sol = solution(df)
res = pd.read_csv('datasets/F1/tests/01.a')

sol.reset_index(inplace=True, drop=True)
res.reset_index(inplace=True, drop=True)

pd.testing.assert_frame_equal(res, sol)