<h1 class="title">(E2)&nbsp;Vehicles: Best Sellers</h1>
<div><span>To solve this question you are required to <strong>write</strong></span><span><strong>&nbsp;code</strong>, </span><span>processing an input ﬁle.</span></div>
<p><span>Use the dataset from the previous question (<strong>the correct result of E1</strong>) to ﬁnd how the model and type of vehicle aﬀects price. Analyze the number of ads and the average price per type and model in the following manner:&nbsp;</span></p>
<p><strong>1:&nbsp;</strong>Calculate a new column:<span>&nbsp;</span><code><span>make</span></code>, based on<span>&nbsp;</span><span><code>model</code>&nbsp;</span>column – by separating the ﬁrst word in the model name (up to the 1st space). For example:<span>&nbsp;</span><span><code>model</code> = <em>“chevrolet silverado 1500”</em>; <code>make</code> = <em>“chevrolet”</em>.</span><br><br><strong>2:&nbsp;</strong>For each <span><code>vehicle_age</code> </span>between 1-15 find the best selling <span><code>make</code> </span>of cars of <span>&nbsp;</span><span><code>type</code> =</span><span>&nbsp;</span><em>“sedan” </em>and calculate the <strong>average price</strong> for each <span>&nbsp;</span><code><span>condition</span></code> for cars of this <code>make</code> and <code>type</code>.</p>
<p>Use number of ads published to determine best selling status. Return 0 for any age/condition combination where there are no matches. Round prices to whole number (integer).</p>
<h2>Input format</h2>
<div class="input-specification"><span>A dataframe with the<strong>&nbsp;</strong>correct result of the E1 problem (already located in the working directory)</span>.</div>
<h2>Output format</h2>
<div class="output-specification">
  <p><span>A pandas dataframe, containing 15 lines in the following format:&nbsp;</span></p>
  <p><code><span>&lt;vehicle_age&gt; &lt;make&gt; &lt;avg price condition=5&gt; &lt;avg price condition=4&gt;</span><span>&nbsp;</span><span>&lt;avg price condition=3&gt; &lt;avg price condition=2&gt; &lt;avg price condition=1&gt;</span><span>&nbsp;</span><span>&lt;avg price condition=0&gt;</span></code></p>
  <p><span>The lines should be in ascending age order (1, 2, …, 15). The names of the columns: ['vehicle_age', 'make', 'avg_price_5', 'avg_price_4', 'avg_price_3', 'avg_price_2', 'avg_price_1', 'avg_price_0']</span></p>
  <h3>Example (<code>vehicle_age=20</code>):</h3>
  <div>
    <table cellpadding="0" cellspacing="0" width="720" border="0" style="border-collapse: collapse; margin-left: auto; margin-right: auto;">
      <tbody>
        <tr style="height: 28,80pt;">
          <td height="48" width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>vehicle_age</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>make</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_5</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_4</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_3</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_2</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_1</strong></td>
          <td width="90" style="text-align: center; border: 2px solid #fff;" class="et2"><strong>avg_price_0</strong></td>
        </tr>
        <tr style="text-align: center;">
          <td height="24" width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">20</td>
          <td width="90" style="width: 54,00pt; border: 2px solid #fff;" class="et3">toyota</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">0</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">5995</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">3219</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">2402</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">1450</td>
          <td width="90" align="right" style="text-align: center; border: 2px solid #fff;" class="et3">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h2>Notes</h2>
<div class="notes">Maximum points for question E2:<strong> 10</strong> points.<!--l. 80--></div>
<div class="notes">
  <p style="text-indent: 0em;"><span style="font-weight: bold;">Reminder: </span>You must select 2 out of 3 questions in programming section: Ski (D), Vehicles (E), Telecom (F), and answer both selected questions as fully as possible (for example, if you choose Ski and Telecom, you should answer questions D1, D2, D3 and F1, F2, F3).</p>
</div>

In [ ]:
### Initial candidate answer code

In [ ]:
# Use print("Debug messages...") to debug your solution.

def solution(df):
    # Your code goes here
    return 0

In [ ]:
### Initial candidate test code

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

vehicles = pd.read_csv('./datasets/E2/E1_result.csv', sep=",")

print(vehicles.head())

print(solution(vehicles))