<h1 class="title">(E3)&nbsp;Vehicles: Prediction</h1>
<div>
  <p>In this question you are required to&nbsp; <span><strong>write </strong></span><span><strong>code</strong></span>, implementing a solution to the problem described below.</p>
  <span></span><span><span>Use the dataset from the previous question&nbsp;</span></span>to estimate vehicle values based on their condition and details. Your function will receive as input a dataframe containing&nbsp;<span>the<strong> correct result of</strong><strong>&nbsp;E1</strong>.</span>
  <p>Given the details of a vehicle, estimate the asking price for it based on similar listings in the dataset. In order to find similar listings, follow the following criteria:</p>
  <ul>
    <li><span></span>Car must be of the <strong>same model</strong> as target,</li>
    <li><span></span>Car must be of the <strong>same condition</strong> as target</li>
    <li><span></span>Car must be use the <strong>same fuel</strong> as target</li>
    <li><span></span>Car must be <strong>within 1 year</strong> of target vehicle age</li>
    <li><span></span>Odometer value must <strong>differ by no more than 20%</strong> of target’s odometer value (+ or - 20%)</li>
  </ul>
  <p>Return the average price among similar listings or “None found” if no similar listings are available. Round the price to the nearest whole number (integer).</p>
</div>
<h2>Input format</h2>
<div class="input-specification">
  <p>Five lines, each corresponding to one of the parameters: <code>model</code>,&nbsp;<code>condition</code>,&nbsp;<code>fuel</code>,&nbsp;<code>vehicle_age</code>,&nbsp;<code>odometer</code>.</p>
  <span></span>
</div>
<h2>Output format</h2>
<div class="output-specification">
  <p><span>One integer —&nbsp; predicted average price or “None found” if no similar listings found.</span></p>
  <div>
    <h3>Sample 1</h3>
    <table style="border-collapse: collapse;" class="sample-tests">
      <thead>
        <tr>
          <th style="border: 2px solid #fff;">Input</th>
          <th style="border: 2px solid #fff;">Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 2px solid #fff;">
            <pre>chevrolet silverado 1500<br>4<br>gas<br>5<br>90000</pre>
          </td>
          <td style="border: 2px solid #fff;">
            <pre>22812</pre>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Sample 2</h3>
    <table style="border-collapse: collapse;" class="sample-tests">
      <thead>
        <tr>
          <th style="border: 2px solid #fff;">Input</th>
          <th style="border: 2px solid #fff;">Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 2px solid #fff;">
            <pre>ford explorer<br>5<br>gas<br>1<br>10000</pre>
          </td>
          <td style="border: 2px solid #fff;">
            <pre>None found</pre>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Sample 3</h3>
    <table style="border-collapse: collapse;" class="sample-tests">
      <thead>
        <tr>
          <th style="border: 2px solid #fff;">Input</th>
          <th style="border: 2px solid #fff;">Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 2px solid #fff;">
            <pre>ford f-250<br>3<br>diesel<br>3<br>180000</pre>
          </td>
          <td style="border: 2px solid #fff;">
            <pre>30973</pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h2>Notes</h2>
<div class="notes">Maximum points for question E3:<strong> 13</strong>&nbsp;points.<!--l. 80--></div>
<div class="notes">
  <p style="text-indent: 0em;"><span style="font-weight: bold;">Reminder: </span>You must select 2 out of 3 questions in programming section: Ski (D), Vehicles (E), Telecom (F), and answer both selected questions as fully as possible (for example, if you choose Ski and Telecom, you should answer questions D1, D2, D3 and F1, F2, F3).</p>
</div>

In [ ]:
### Initial candidate answer code

In [ ]:
# Use print("Debug messages...") to debug your solution.

def solution(df, query):
    # Your code goes here
    return 0

In [ ]:
### Initial candidate test code

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime

vehicles = pd.read_csv('./datasets/E3/E1_result.csv', sep=",")
print(vehicles.head())

query1 = ['chevrolet silverado 1500', '4', 'gas','5','90000']    
print(query1)
print(solution(vehicles, query1), '\n')

query2 = ['ford explorer', '5', 'gas','1','10000']    
print(query2)
print(solution(vehicles, query2), '\n') 

query3 = ['ford f-250','3','diesel','3','180000']    
print(query3)
print(solution(vehicles, query3), '\n')

In [ ]:
### Autograder part (hidden from the candidate)

In [ ]:
import numpy as np
import os
import pandas as pd

data_path = './datasets/E3/tests/'

for i in range(12):
    input_file = os.path.join(data_path,'{:02}'.format(i+1))
    output_file = os.path.join(data_path,'{:02}'.format(i+1)+'.a')
    with open(input_file) as f:
        data_in = f.read().splitlines()
    f.close()
    with open(output_file) as f:
        data_out = f.read().splitlines()
    f.close()

    q = data_in
    a = data_out[0] 
    a = a if a=='None found' else int(a)
    sol = solution(vehicles, q)
    np.testing.assert_array_equal(sol,a)