<h2>F1. Titanic: Clean data</h2>
<p>To solve this problem you should submit<span>&nbsp;</span><strong>a result csv-ﬁle</strong><span>&nbsp;</span>after processing an input ﬁle.</p>
<p>You are given a ﬁle <a rel="noopener noreferrer" href="./datasets/F1/titanic.csv" target="_blank"> <code>titanic.csv</code>.</p>
<p>Data dictionary:</p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-snxj{background-color:#FFF;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-59uy{background-color:#FFF;color:rgba(0, 0, 0, 0.87);font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-cq2y{background-color:#F5F5F5;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-59uy"><span style="font-weight:bold">Variable</span></th>
    <th class="tg-59uy"><span style="font-weight:bold">Definition</span></th>
    <th class="tg-59uy"><span style="font-weight:bold">Key</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-snxj">Survival</td>
    <td class="tg-snxj">Survival</td>
    <td class="tg-snxj">0 = No, 1 = Yes</td>
  </tr>
  <tr>
    <td class="tg-cq2y">Pclass</td>
    <td class="tg-cq2y">Ticket class</td>
    <td class="tg-cq2y">1 = 1st, 2 = 2nd, 3 = 3rd</td>
  </tr>
  <tr>
    <td class="tg-snxj">Name</td>
    <td class="tg-snxj">Name</td>
    <td class="tg-snxj"></td>
  </tr>
  <tr>
    <td class="tg-cq2y">Sex</td>
    <td class="tg-cq2y">Sex</td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj">Age</td>
    <td class="tg-snxj">Age in years</td>
    <td class="tg-snxj"></td>
  </tr>
  <tr>
    <td class="tg-cq2y">SibSp</td>
    <td class="tg-cq2y"># of siblings / spouses aboard</td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj">Parch</td>
    <td class="tg-snxj"># of parents / children aboard</td>
    <td class="tg-snxj"></td>
  </tr>
  <tr>
    <td class="tg-cq2y">Ticket</td>
    <td class="tg-cq2y">Ticket number</td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj">Fare</td>
    <td class="tg-snxj">Passenger fare</td>
    <td class="tg-snxj"></td>
  </tr>
  <tr>
    <td class="tg-cq2y">Cabin</td>
    <td class="tg-cq2y">Cabin number</td>
    <td class="tg-cq2y"></td>
  </tr>
  <tr>
    <td class="tg-snxj">Embarked</td>
    <td class="tg-snxj">Port of Embarkation</td>
    <td class="tg-snxj">C = Cherbourg</td>
  </tr>
  <tr>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y"></td>
    <td class="tg-cq2y">Q = Queenstown</td>
  </tr>
  <tr>
    <td class="tg-snxj"></td>
    <td class="tg-snxj"></td>
    <td class="tg-snxj">S = Southampton</td>
  </tr>
</tbody></table>

Update this ﬁle by next operations:

* remove column `Ticket`
* remove column `abin`
* update rows without value of `Age` with the average age among all existing age values, round the average value to 2 decimal digits.

### Output format

Submit the resulting csv-ﬁle. Do not reorder columns or rows in the ﬁle.

### Notes

Maximum points for question **F1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [ ]:
### Initial candidate answer code

In [ ]:
# Use print("messages...") to debug your solution.
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/F1/titanic.csv')

def solution(df):
    # Your code goes here
    return pd.DataFrame([])

In [ ]:
### Initial candidate test code

In [ ]:
df = pd.read_csv('./datasets/F1/titanic.csv')
df.head()

solution(df)

In [ ]:
### Autograder part (hidden from the candidate)

In [ ]:
sol = solution(df)
res = pd.read_csv('datasets/F1/tests/01.a')

sol.reset_index(inplace=True, drop=True)
res.reset_index(inplace=True, drop=True)

pd.testing.assert_frame_equal(res, sol)