## F2. Titanic: Similarity

In this problem you need to upload **a source ﬁle** solving the following problem. Your program should use **the correct result of the previous problem (F1)** as an input.

Implement function `similarity` from the pseudocode and print the result of this function for some passenger pairs.

```
function similarity(passenger_a, passenger_b):  
    result = 0  
    if passenger_a.pclass = passenger_b.pclass:  
        result += 1  
    if passenger_a.sex = passenger_b.sex:  
        result += 3  
    if passenger_a.sibsp = passenger_b.sibsp:  
        result += 1  
    if passenger_a.parch = passenger_b.parch:  
        result += 1  
    result += max(0, 2 - abs(passenger_a.age - passenger_b.age) / 10.0)  
    result += max(0, 2 - abs(passenger_a.fare - passenger_b.fare) / 5.0)  
    return result / 10.0
```

### Input format

The ﬁrst line of the input contains one integer $q$ ($1≤q≤100$), a number of queries. It is followed by $q$ lines containing each two integers $id_1$ and $id_2$ ($1≤id_1≤891$, $1≤id_2≤891$), corresponding to the $id$ of two passengers to be compared.

### Output format

Output exactly $q$  lines. In the $i$-th one print the result of $i$-th query. Round the result value to **2 digits after the decimal point**.

#### Sample

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-613o{background-color:#FFF;border-color:inherit;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-lsmd{background-color:#F5F5F5;border-color:inherit;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
.tg .tg-66kb{background-color:#FFF;border-color:inherit;color:rgba(0, 0, 0, 0.87);font-weight:bold;text-align:left;
  vertical-align:middle}
.tg .tg-xhig{background-color:#E1F5FE;border-color:inherit;color:rgba(0, 0, 0, 0.87);text-align:left;vertical-align:middle}
</style>
<table class="tg"><thead>
  <tr>
    <th class="tg-66kb"><span style="font-weight:bold">Input</span></th>
    <th class="tg-66kb"><span style="font-weight:bold">Output</span></th>
  </tr></thead>
<tbody>
  <tr>
    <td class="tg-613o">2</td>
    <td class="tg-613o"></td>
  </tr>
  <tr>
    <td class="tg-lsmd">1 1</td>
    <td class="tg-lsmd">1.0</td>
  </tr>
  <tr>
    <td class="tg-xhig">1 2</td>
    <td class="tg-xhig">0.24</td>
  </tr>
</tbody>
</table>

### Notes

Maximum points for question **F2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [ ]:
### Initial candidate answer code

In [ ]:
# Use print("Debug messages...") to debug your solution.

def solution(inp):
    # Your code goes here
    return []

In [ ]:
### Initial candidate test code

In [ ]:
import pandas as pd

df = pd.read_csv('./datasets/F2/titanic.csv')
print(df.head())

example1 = ['2', '1 1', '1 2']
print(example1) 
print(solution(example1), '\n')

In [ ]:
### Autograder part (hidden from the candidate)

In [ ]:
import numpy as np
import pandas as pd
import os


df = pd.read_csv('datasets/F2/01.a')
sol = solution(df)

data_path = './datasets/F2/tests/'

for i in range(4):
    
    input_file = os.path.join(data_path,'{:02}'.format(i+1))
    output_file = os.path.join(data_path,'{:02}'.format(i+1)+'.a')
    with open(input_file) as f:
        data_in = f.read().splitlines()
    f.close()
    with open(output_file) as f:
        data_out = f.read().splitlines()
    f.close()
    
    sol = solution(data_in)
    ans = data_out
    
    np.testing.assert_array_equal(sol,ans)