# Training test 1

The test consists of 2 parts:

* the theoretical one - which includes the tasks on the probability theory and the data analysis;
* the programming one - which includes the practical tasks purposed to show your programming skills.

# Probability theory and data analysis

## A. Probability

**Q1**. If it rains on Saturday with probability 50%, and it rains on Sunday with probability 30%, what is the probability that it rains at some point throughout the weekend?

**Q2**. A Class of 45 students is randomly split into 3 practice groups of the same size. A pair of friends in the class really like to work together and hope they won’t end up in diﬀerent groups. What are the chances they’re assigned to the same group?

**Q3**. A fair six-sided die is rolled twice. What is the probability of getting 1 on the ﬁrst roll and not getting 6 on the second roll?

A. 1/36  
B. 1/18  
C. 5/36  
D. 1/6  
E. 1/3

**Q4**. A fair six-sided die is rolled 6 times. What is the probability that no two results are the same number?

**Q5**. In a regular deck of cards, there are 52 cards from 4 suits of 13 cards each: Spades, Hearts, Diamonds and Clubs. You draw a card from the deck, note down its suit, return it to the deck and reshuﬄe. You repeat this 5 times. What is the probability not a single Diamonds card was drawn?

**Q6**. A bag contains 5 balls: 4 black and 1 white. A ball is drawn from the bag and returned to it, then another ball is drawn. What is the probability both were of the same colour?

**Q7**. You have a deck of cards containing 26 black and 13 red cards. You pull out 2 cards, one after another, and check their colour. If both cards are the same colour, then a black card is added to the deck. However, if the cards are of diﬀerent colours, then a red card is used to replace them. Once the cards are taken out of the deck, they are not returned to the deck, and thus the number of cards keeps reducing. What is the likelihood the last card left in the deck is black?

A. 1.0  
B. 0.8  
C. 0.6  
D. 0.5  
E. 0.0

### Output format

INSTRUCTIONS: Read each question and ﬁnd the correct answer. Write the answers in the designated window, using the following format: Question number + space + correct answer (letter or ﬂoating point number). Each answer should be in a separate row.

Example:  
Q1 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS  
Q2 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS  
Q3 A  
Q4 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS  
Q5 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS  
Q6 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS  
Q7 B

### Notes

Maximum points value for question **A**: **8** points

All numerical answers must be given with **exactly 4 decimal digits**. e.g. if your solution is "1.5", your submitted answer should be "1.5000".

If you do not solve some problems, you can skip the relevant questions in the submission window. Answers may be listed in any order.

## B1. Data interpretation

A survey was performed to study the paying habits of a restaurant’s customers. Among 2500 meal orders, 30% were made by delivery, 20% by takeaway, and the rest were sit-down at the restaurant itself.

The table below shows the results in terms of the fraction of responders in each of the three categories (takeaway, delivery and sit-down).

|Order method | Paid in cash | Customer satisfied |
| :- | -: | -: |
| Take-away |0.25 | 0.55|
| Delivery |X | 0.6|
| Sit-down |0.6 | Y|
| Total |0.45 | 0.48|

**Q1**. What is the ratio of the total number of sit-down orders paid for in cash to takeaway orders paid by means other than cash?

**Q2**. If a given customer replied that they were satisﬁed with their meal, what is the probability that their meal was a delivery? (It is known that the mode of payment, customer satisfaction and order method are independent of each other).

### Output format

INSTRUCTIONS: Read each question and ﬁnd the correct answer. Write the answers in the designated window, using the following format: Question number + space + correct answer (an irreducible ratio or a ﬂoating point number). Each answer should be in a separate row.

Example:  
Q1 IRREDUCIBLE_RATIO  
Q2 FP_NUMBER_WITH_EXACTLY_4_DECIMAL_DIGITS

### Notes

Maximum points value for question **B1**: **6** points

All numerical answers must be given with **exactly 4 decimal digits**. e.g. if your solution is "1.5", your submitted answer should be "1.5000". If you do not solve some problems, you can skip the relevant questions in the submission window. "2:3" is an irreducible ratio while "5:15" is not.

## B2. Data interpretation 2

A city’s municipality has multiple departments. The information below pertains to ﬁve such departments: A, B, C, D, and E. All of the workers are paid on an hourly basis, and all members of the same department are paid the same, but the hourly wage of each department changes from month to month due to demand and budget constraints. Below is employment time and salary information by department for the months May-November, as well as a table with the total hours worked each month (across all departments). Answer the following questions based on this information:

|MONTH | TOTAL HOURS |
| :- | -: |
| MAY |1600 |
| JUN |1500 |
| JUL |2100 |
| AUG |2600 |
| SEP |2200 |
| OCT |1800 |
| NOV |2500 |

<p style="text-align:center;">
    <img src="images/image1.png" width=500 height=300 />
    <img src="images/image2.png" width=500 height=300 />

**Q1**. In what month have department B employees worked the most hours?

A. May  
B. June  
C. August  
D. October  
E. November

**Q2**. What is the ratio between the number of department C man-hours in May and department E man-hours in Oct?

**Q3**. Over the period from May till August, which department had the most stable work load?

A. Department A  
B. Department B  
C. Department C  
D. Department D  
E. Department E

*Which department is which?*

**Q4**. The employees of veterinary services department were very disgruntled after receiving September salary, and many of them quit. Which department is veterinary services?

A. Department A  
B. Department B  
C. Department C  
D. Department D  
E. Department E

**Q5**. It is commonly known that no matter how the salaries change over time, the employees of accounting department are always the best paid. Which department is accounting?

A. Department A  
B. Department B  
C. Department C  
D. Department D  
E. Department E

**Q6**. Which of the following is lifeguard services department?

A. Department A  
B. Department B  
C. Department C  
D. Department D  
E. Department E

### Output format

INSTRUCTIONS: Read each question and ﬁnd the correct answer. Write the answers in the designated window, using the following format: Question number + space + correct answer (an irreducible ratio or a letter). Each answer should be in a separate row.

Example:  
Q1 A  
Q2 IRREDUCIBLE_RATIO  
Q3 A  
Q4 A  
Q5 A  
Q6 A

### Notes

Maximum points value for question **B2**: **10** points

You can output any number of answers, if you do not solve some problems. Ratio "2:3" is irreducible while "5:15" is not.

## C. Fraud detection

The attached dataset  contains a list of credit card transactions: Transaction ID (random), Transaction type (payment, cash withdrawal or transfer), account holder, transaction amount and area where the transaction took place.

Based on patterns found in the data, ﬂag **UP TO 3** transactions that are suspicious as fraudulent.

### Output format

Write between 1 and 3 transaction ID numbers, separate them with spaces.

### Notes

Maximum points value for question **C**: **16** points

You are **not required** to use any dedicated data science tools or resources to solve this question.

In [1]:
import pandas as pd

df = pd.read_csv('datasets/test1/C/FraudData.csv')
df.head()

   Transaction ID      Type  Amount  Area Code             Client
0         1122778   PAYMENT     230      34297        Eyal Avihud
1         1214288  CASH-OUT     520      39206  Natalie Ben Zakan
2         1232468   PAYMENT     479      55682       Lilach Kedem
3         1299198  CASH-OUT     450      99714       Yaron Kutler
4         1384021  CASH-OUT     560      43206          Ziv Mazor

# Programming

The problems below are purposed to check your programming skills. You must select 2 out of 3 questions in programming section: Maze (D), Text (E), Titanic (F), and answer both selected questions as fully as possible (for example, if you choose Maze and Titanic, you should answer questions D1, D2, D3 and F1, F2, F3).

You can use the additional libraries - numpy, pandas, memory_profiler (they are needed to be pre-installed).

## D1. Maze: Find the bug

To solve this problem you need to ﬁnd **the line containing an error**.

You are given a pseudocode of a solution for the following problem:

You are given a rectangular ﬁeld $T$ with $R$ rows and $C$ columns. Each cell of $T$ contains one of two possible characters: `’.’` or `’#’` (`’.’` marks a passable cell, and `’#’` marks an impassable cell). Determine if there a passable cell $(r,c)$, such that one can visit all passable cells starting from $(r,c)$ and moving each time only to one of the neighbouring passable cells (a neighbouring cell of $(x,y)$ is one of four cells sharing a common side with $(x,y)$).

```
1.  for r, c in [1..R]x[1..C]:  
2.      if T[r][c] == ’#’:  
3.          continue  
4.      q - empty queue  
5.      visited - empty RxC boolean 2D array, initialized with False  
6.      visited[r][c] = True  
7.      q.push((r,c)) // push starting cell into the queue  
8.  
9.      while q is not empty:  
10.         cur_r, cur_c = q.pop() // extract the first element from the queue  
11.         for (dr, dc) in [(+1, 0), (-1, 0), (0, +1), (0, -1)]:  
12.             next_r = cur_r + dr  
13.             next_c = cur_c + dc  
14.             if (next_r, next_c) in [1..R]x[1..C] and T[next_r][next_c] == ’.’:  
15.                 visited[next_r][next_c] = True  
16.                 q.push((next_r, next_c))  
17.  
18.     all_passed = True  
19.     for (check_r, check_c) in [1..R]x[1..C]:  
20.         if T[check_r][check_c] == ’.’ and visited[check_r][check_c] == False:  
21.             all_passed = False  
22.  
23.     if all_passed:  
24.         return True // (r, c) is a good starting cell  
25.  
26. return False // there is no good starting cell
```

**Note:** ’An error’ may refer to any situation in which in order for the program to run correctly, the pseudocode needs to be modiﬁed through changing, deleting, or adding some symbols. All such changes must be done within a single line of the pseudocode.

**Hint:** The error is not in the synthax of the pseudocode

### Input format

One integer, the number of the line containing an error.

### Notes

Maximum points for question **D1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D), Text (E), Titanic (F), and answer both selected questions as fully as possible (for example, if you choose Maze and Titanic, you should answer questions D1, D2, D3 and F1, F2, F3).

**Note:** In this question you do not receive the outcome of your submission, only a notiﬁcation that submission was sent successfully.

## D2. Maze: Implement

In this question you are required to **write code in the window below** implementing a solution to the problem presented in the previous question (D1).

**Note:** Your solution should read the description of $T$ from test ﬁles 01-99.

### Input format

The ﬁrst input line contains two integers $R$ and $C$ $(1≤R≤20,1≤C≤20)$, the number of rows and columns. Each of the $R$ following lines contains exactly $C$ symbols `’.’` and `’#’`.

**Note:** The input ﬁle has UNIX line endings format (Unix LF). https://en.wikipedia.org/wiki/Newline

It is guaranteed that $T$ contains at least one passible cell.

### Output format

Print a single word `Yes` if there is an appropriate cell or `No` otherwise.

Examples are provided below.

#### Sample 1

|Input| Output|
| :- | :-|
|2 5 | Yes |
|. . # . .|
|. . . . #|

#### Sample 2

|Input| Output|
| :- | :-|
|1 3 | No |
|. # .|

#### Sample 3

|Input| Output|
| :- | :-|
|3 3 | No |
|. . # |
|. # . |
|# . . |

### Notes

Maximum points for question **D2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [3]:
def solution(inp):
    # Your code goes here
    return 0

In [5]:
example1 = ['2 5', '..#..', '....#']
print(example1) 
print(solution(example1), '\n')

example2 = ['1 3', '.#.']
print(example2) 
print(solution(example2), '\n')

example3 = ['3 3', '..#', '.#.', '#..']
print(example3) 
print(solution(example3), '\n')

['2 5', '..#..', '....#']
0

['1 3', '.#.']
0

['3 3', '..#', '.#.', '#..']
0

## D3. Maze: Optimize

The pseudocode given in D1 has sub-optimal complexity.

Optimize your solution for the previous problem (D2) if necessary, allowing it to run eﬃciently. Your solution will run on grids with larger size constraints: $1≤R≤1000, 1≤C≤1000$.

### Input format

The same as in D2.

### Output format

The same as in D2.

#### Sample 1

|Input| Output|
| :- | :-|
|2 5 | Yes |
|. . # . .|
|. . . . #|

#### Sample 2

|Input| Output|
| :- | :-|
|1 3 | No |
|. # .|

#### Sample 3

|Input| Output|
| :- | :-|
|3 3 | No |
|. . # |
|. # . |
|# . . |

### Notes

Maximum points for question **D3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D), Text (E), Titanic (F), and answer both selected questions as fully as possible (for example, if you choose Maze and Titanic, you should answer questions D1, D2, D3 and F1, F2, F3).

In [7]:
def solution(inp):
    # Your code goes here
    return 0

In [9]:
example1 = ['2 5', '..#..', '....#']
print(example1) 
print(solution(example1), '\n')

example2 = ['1 3', '.#.']
print(example2) 
print(solution(example2), '\n')

example3 = ['3 3', '..#', '.#.', '#..']
print(example3) 
print(solution(example3), '\n')

['2 5', '..#..', '....#']
0

['1 3', '.#.']
0

['3 3', '..#', '.#.', '#..']
0

## E1. Text: Pre-processing

To solve this problem you should submit **a result file** after processing an input file.

You are given a file **article.txt**. Your task is to parse text:

* split the text into sentences by the full stop symbol `'.'` (there's no need to remove the empty sentences after the splitting).
* split the sentences into words (only latin alphabet letters), please replace all symbols other than latin alphabet letters with space.
* change all uppercase letters to lowercase.

### Input format

The archive **data.zip** contains:

* file **article.txt**, which should be processed,
* files **sample.txt** and **sample.out**, which are small part of input and result provided for your convenience and demonstrating the format of both files.

### Output format

The output file should contain the parsed sentences, each sentence on a separate line. The words in each sentence should be separated by single spaces. The should be no full stops at the ends of sentences.

### Notes

Maximum points for question **E1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [11]:
# upload the input file

with open('datasets/test1/E1/article.txt') as f:
    article = f.read().splitlines()
    
f.close()

In [13]:
# sample input/output

with open('datasets/test1/E1/sample.txt') as f:
    sample_in = f.read().splitlines() 
    
f.close()

sample_in

['Nigel Reuben Rook Williams (15 July 1944 – 21 April 1992) was an English conservator and expert on the restoration of ceramics and glass. From 1961 until his death he worked at the British Museum, where he became the Chief Conservator of Ceramics and Glass in 1983. There his work included the successful restorations of the Sutton Hoo helmet and the Portland Vase.',
 '',
 'Joining as an assistant at age 16, Williams spent his entire career, and most of his life, at the British Museum. He was one of the first people to study conservation, not yet recognised as a profession, and from an early age was given responsibility over high-profile objects. In the 1960s he assisted with the re-excavation of the Sutton Hoo ship-burial, and in his early- to mid-twenties he conserved many of the objects found therein: most notably the Sutton Hoo helmet, which occupied a year of his time. He likewise reconstructed other objects from the find, including the shield, drinking horns, and maplewood bottles.',
 '']

In [15]:
with open('datasets/test1/E1/sample.out') as f:
    sample_out = f.read().splitlines() 
    
f.close()

sample_out

['nigel reuben rook williams july april was an english conservator and expert on the restoration of ceramics and glass',
 'from until his death he worked at the british museum where he became the chief conservator of ceramics and glass in',
 'there his work included the successful restorations of the sutton hoo helmet and the portland vase',
 'joining as an assistant at age williams spent his entire career and most of his life at the british museum',
 'he was one of the first people to study conservation not yet recognised as a profession and from an early age was given responsibility over high profile objects',
 'in the s he assisted with the re excavation of the sutton hoo ship burial and in his early to mid twenties he conserved many of the objects found therein most notably the sutton hoo helmet which occupied a year of his time',
 'he likewise reconstructed other objects from the find including the shield drinking horns and maplewood bottles']

## E2. Text: N-grams

To solve this problem you should submit **a source ﬁle**.

Your program should use **the correct result of the previous problem (E1)** as an input.

You should delete from each sentence all stop words **’a’, ’the’, ’of’, ’at’, ’in’, ’and’, ’to’** (for this problem), and ﬁnd the most frequent word, 2-gram (two consecutive words) and 3-gram (three consecutive words).

**Note:** Look at https://en.wikipedia.org/wiki/N-gram for clariﬁcation.

### Input format

Sentences one per line, all words are separated by single spaces and lowercased.
The archive **data.zip** contains:

* ﬁles **sample.txt** and **sample.out**, which are small part of input and result ﬁles in the correct format provided for your convenience.

### Output format

Print three lines:

* The most frequent word in the article.
* The most frequent 2-gram in the article.
* The most frequent 3-gram in the article.

It is guaranteed that there is only one possible answer.

### Notes

Maximum points for question **E2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [17]:
# upload the input file

with open('datasets/test1/E2/article.out') as f:
    article = f.read().splitlines()
    
f.close()

In [19]:
# sample input/output

with open('datasets/test1/E2/sample.txt') as f:
    sample_in = f.read().splitlines()
    
f.close()

sample_in

['nigel reuben rook williams july april was an english conservator and expert on the restoration of ceramics and glass',
 'from until his death he worked at the british museum where he became the chief conservator of ceramics and glass in',
 'there his work included the successful restorations of the sutton hoo helmet and the portland vase',
 'joining as an assistant at age williams spent his entire career and most of his life at the british museum',
 'he was one of the first people to study conservation not yet recognised as a profession and from an early age was given responsibility over high profile objects',
 'in the s he assisted with the re excavation of the sutton hoo ship burial and in his early to mid twenties he conserved many of the objects found therein most notably the sutton hoo helmet which occupied a year of his time']

In [21]:
with open('datasets/test1/E2/sample.out') as f:
    sample_out = f.read().splitlines()  
    
f.close()

sample_out

['his', 'sutton hoo', 'sutton hoo helmet']

## E3. Text: Word Statistics

To solve this problem you should submit **a source ﬁle**.

Your program should use **the correct result of the previous problem (E1)** as an input. You should delete from each sentence all stop words **’a’, ’the’, ’of’, ’at’, ’in’, ’and’, ’to’** (for this problem), and ﬁnd two statistics for each word $w$ that occurs at least once in the ﬁle:
* number of sentences which contains word $w$;
* an average length (a number of words) of sentence containing word $w$ (if some sentence contains $w$ more than once it should be counted once).

### Input format

Sentences one per line, all words are separeted by single spaces and lowercased.
The archive **data.zip** contains:

* ﬁles **sample.txt** and **sample.out**, which are small part of input and result ﬁles.

### Output format

Print several lines (one line per word, separate items with single space):

* Word from the input ﬁle.
* Number of sentences.
* Average length of the sentence (round the result value to **3 digits after the decimal point**.).

Words can be listed in arbitrary order.

### Notes

Maximum points for question **E3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [23]:
# upload the input file
    
with open('datasets/test1/E3/article.out') as f:
    article = f.read().splitlines()  
    
f.close()

In [25]:
# sample input/output

with open('datasets/test1/E3/sample.txt') as f:
    sample_in = f.read().splitlines() 

f.close()

sample_in

['nigel reuben rook williams july april was an english conservator and expert on the restoration of ceramics and glass',
 'from until his death he worked at the british museum where he became the chief conservator of ceramics and glass in',
 'there his work included the successful restorations of the sutton hoo helmet and the portland vase',
 'joining as an assistant at age williams spent his entire career and most of his life at the british museum',
 'he was one of the first people to study conservation not yet recognised as a profession and from an early age was given responsibility over high profile objects',
 'in the s he assisted with the re excavation of the sutton hoo ship burial and in his early to mid twenties he conserved many of the objects found therein most notably the sutton hoo helmet which occupied a year of his time']

In [27]:
with open('datasets/test1/E3/sample.out') as f:
    sample_out = f.read().splitlines() 
    
f.close()

sample_out

['therein 1 30.0',
 'burial 1 30.0',
 'nigel 1 15.0',
 'objects 2 26.5',
 'people 1 23.0',
 'excavation 1 30.0',
 'over 1 23.0',
 'profession 1 23.0',
 'an 3 17.667',
 'high 1 23.0',
 'not 1 23.0',
 'as 2 19.0',
 'year 1 30.0',
 'portland 1 11.0',
 'occupied 1 30.0',
 'worked 1 15.0',
 'helmet 2 20.5',
 'given 1 23.0',
 'death 1 15.0',
 'from 2 19.0',
 'expert 1 15.0',
 'entire 1 15.0',
 'hoo 2 20.5',
 'museum 2 15.0',
 'there 1 11.0',
 'reuben 1 15.0',
 'yet 1 23.0',
 'notably 1 30.0',
 're 1 30.0',
 'recognised 1 23.0',
 'which 1 30.0',
 'assisted 1 30.0',
 'conservation 1 23.0',
 'he 3 22.667',
 'was 2 19.0',
 'until 1 15.0',
 'williams 2 15.0',
 'profile 1 23.0',
 'life 1 15.0',
 'his 4 17.75',
 'mid 1 30.0',
 'sutton 2 20.5',
 'successful 1 11.0',
 'assistant 1 15.0',
 'restorations 1 11.0',
 'ship 1 30.0',
 'vase 1 11.0',
 'early 2 26.5',
 'glass 2 15.0',
 'restoration 1 15.0',
 'conservator 2 15.0',
 'included 1 11.0',
 'twenties 1 30.0',
 'july 1 15.0',
 'one 1 23.0',
 'with 1 30.0',
 'conserved 1 30.0',
 'ceramics 2 15.0',
 'on 1 15.0',
 'rook 1 15.0',
 'most 2 22.5',
 'career 1 15.0',
 'many 1 30.0',
 'age 2 19.0',
 'work 1 11.0',
 'spent 1 15.0',
 'british 2 15.0',
 'april 1 15.0',
 'chief 1 15.0',
 'became 1 15.0',
 'responsibility 1 23.0',
 'time 1 30.0',
 'english 1 15.0',
 'found 1 30.0',
 's 1 30.0',
 'first 1 23.0',
 'where 1 15.0',
 'study 1 23.0',
 'joining 1 15.0']

## F1. Titanic: Clean data

To solve this problem you should submit **a result csv-ﬁle** after processing an input ﬁle.

You are given a ﬁle **titanic.csv**.

Data dictionary:

|Variable| Definition| Key|
| :- | -: | -: |
|survival| Survival| 0 = No, 1 = Yes|
|pclass|  Ticket class|  1 = 1st, 2 = 2nd, 3 = 3rd|
|name|  Name |
|sex| Sex  |
|Age| Age in years|
|sibsp| # of siblings / spouses aboard  |
|parch|  # of parents / children aboard  |
|ticket| Ticket number  |
|fare | Passenger fare  |
|cabin| Cabin number  |
|embarked|    Port of Embarkation | C = Cherbourg|
| | | Q = Queenstown|
| | | S = Southampton |

Update this ﬁle by next operations:

* remove column `ticket`
* remove column `cabin`
* update rows without value of `Age` with the average age among all existing age values, round the average value to 2 decimal digits.

### Output format

Submit the resulting csv-ﬁle. Do not reorder columns or rows in the ﬁle.

### Notes

Maximum points for question **F1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [29]:
import pandas as pd

data = pd.read_csv('datasets/test1/F1/titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## F2. Titanic: Similarity

In this problem you need to upload **a source ﬁle** solving the following problem. Your program should use **the correct result of the previous problem (F1)** as an input.

Implement function `similarity` from the pseudocode and print the result of this function for some passenger pairs.

```
function similarity(passenger_a, passenger_b):  
    result = 0  
    if passenger_a.pclass = passenger_b.pclass:  
        result += 1  
    if passenger_a.sex = passenger_b.sex:  
        result += 3  
    if passenger_a.sibsp = passenger_b.sibsp:  
        result += 1  
    if passenger_a.parch = passenger_b.parch:  
        result += 1  
    result += max(0, 2 - abs(passenger_a.age - passenger_b.age) / 10.0)  
    result += max(0, 2 - abs(passenger_a.fare - passenger_b.fare) / 5.0)  
    return result / 10.0
```

### Input format

The ﬁrst line of the input contains one integer $q$ ($1≤q≤100$), a number of queries. It is followed by $q$ lines containing each two integers $id_1$ and $id_2$ ($1≤id_1≤891$, $1≤id_2≤891$), corresponding to the $id$ of two passengers to be compared.

### Output format

Output exactly $q$  lines. In the $i$-th one print the result of $i$-th query. Round the result value to **2 digits after the decimal point**.

#### Sample

|Input| Output|
| :- | :-|
|2| |
|1 1| 1.0|
|1 2| 0.24|

### Notes

Maximum points for question **F2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [32]:
# upload the input file

with open('datasets/test1/F2/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['2', '1 1', '1 2']

In [34]:
# upload the output file

with open('datasets/test1/F2/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['1.0', '0.24']

## F3. Titanic: Neighbour

In this problem you need to upload **a source ﬁle** solving the following problem. Your program should use **the correct result of the previous problem (F1)** as an input.

Given a passenger’s ID you need to ﬁnd another passenger such that the result of similarity function described in F2 reaches maximal value.

**Note!** Please round up to **2 decimal digits** before comparing results of `similarity` function.

### Input format

The ﬁrst line of the input contains one integer $q$ ($1≤q≤100$), a number of queries. It is followed by $q$ lines containing each one integer $id$ ($1≤ID≤891$), corresponding to the $id$  of the target passenger.

### Output format

Output exactly $q$ lines. In the $i$-th one print the $id$ of the passenger most *similar* to the one from the $i$-th query.

If there are several applicants of the same similarity, then choose one the minimal $ID$.

#### Sample

|Input| Output|
| :- | :-|
|3 | |
|1 | 665 |
|891 | 383 |
|500 | 295 |

### Notes

Maximum points for question **F3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Maze (D1-D3), Text (E1-E3), Titanic (F1-F3), and answer both selected questions as fully as possible.

In [36]:
# upload the input file

with open('datasets/test1/F3/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['3', '1', '891', '500']

In [38]:
# upload the output file

with open('datasets/test1/F3/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['665', '383', '295']