# Training test 2

The test consists of 2 parts:

* the theoretical one - which includes the tasks on the probability theory and the data analysis;
* the programming one - which includes the practical tasks purposed to show your programming skills.

# Probability theory and data analysis

## A. Statistics & Probability

All answers must be submitted as ﬂoating point number rounded to **5 decimal digits**.

Cards (Questions 1-4): A deck of cards contains 54 cards, comprised of 4 suits of 13 cards, as well as **two jokers**. Each suit contains the cards 2-10, J, Q, K, A. The suits are Spades (black), Hearts (red), Diamonds (red) and Clubs (black).

**Q1**. You draw a card at random, what is the probability of it being a number card of value between 2-5 (inclusive)?

**Q2**. You draw two cards one after another, returning and reshuﬄing after each draw, what is the probability they are both Diamonds?

**Q3**. You draw four cards one after another (without returning cards to the deck between draws). What is the probability the cards drawn included one of each of the four suits?

**Q4**. You play a game where all number cards (2-10) have a value equal to their number, ace has a value of 1, face cards have a value of 10 and joker can have the same value as any card of your choice. To play the game, you draw three cards into your hand, and you win if your hand total (sum of values) meets or exceeds a stated goal. If the goal number is 4, what is your probability of winning in your ﬁrst draw?

**Q5**. An unbalanced coin comes up with tails 60% of the times its tossed. It is tossed 3 times in a row. What is the probability that all three tosses came up the same?

**Q6**. You have 4 coins: 3 coins are fair and one is a fake coin with heads on both sides. You pick one coin at random, and toss it. What is the probability the toss comes up heads?

**Q7**. A pair of fair six-sided dice is rolled. What is the probability that the sum of the dice is 9 or more?

**Q8**. You roll 4 fair four-sided dice. What is the probability of each one showing a diﬀerent number?

**Q9**. Credit card PIN codes are 4-digit number that is chosen at random (all combinations allowed). What is the probability you are assigned a PIN code that is divisible by 5 and contains the number 45 (as two consecutive digits)?

**Q10**. The probability of an electronics store selling at least one computer in an 8-hour working day is 0.8. Assuming a constant probability throughout the day, what’s the probability of the store selling at least one computer in any given 2-hour time window?

### Output format

INSTRUCTIONS: Read each question and ﬁnd the correct answer. Write the answers in the designated window, using the following format: Question number + space + correct answer (integer or ﬂoating point number). Each answer should be in a separate row.

Example:  
Q1 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q2 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q3 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q4 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q5 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q6 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q7 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q8 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q9 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q10 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS

### Notes

Maximum points value for question **A**: **12** points

All ﬂoating point answers must be given with **exactly 5 decimal digits**. e.g. if your solution is "1.5", your submitted answer should be "1.50000".

If you do not solve some problems, you can skip the relevant questions in the submission window. Answers may be listed in any order.

## B. Data interpretation

Below is a chart representing monthly sales data across several branches of a large store, showing the number of new vs returning clients, as well as total sales value per branch.

<p style="text-align:center;"><img src=images/image3.png width=600 height=400 />

Based on information in the chart, answer the following questions:

**Q1**. Which branch has the highest total number of clients?

**Q2**. What is the average sales value per client in branch 588 (in USD thousands)?

**Q3**. Which branch has the highest ratio of return clients to new clients?

**Q4**. You were recently recommended the store by a friend, who is a long time customer of one of the listed branches. What is the probability they’re a client of branch 588?

**Q5**. Which branch of the ones listed would you say is the most likely to have recently won an award for "Greatest Improvement", after struggling for a while with losing longtime customers by running a highly successful promotion for an expensive new product?

### Output format

INSTRUCTIONS: Read each question and ﬁnd the correct answer. Write the answers in the designated window, using the following format: Question number + space + correct answer (an integer or a ﬂoating point number). Each answer should be in a separate row.

Example:  
Q1 INTEGER_NUMBER  
Q2 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q3 INTEGER_NUMBER  
Q4 FP_NUMBER_WITH_EXACTLY_5_DECIMAL_DIGITS  
Q5 INTEGER_NUMBER

### Notes

Maximum points for question **B**: **12** points

All ﬂoating point answers must be given with **exactly 5 decimal digits**. e.g. if your solution is "1.5", your submitted answer should be "1.50000". If you do not solve some problems, you can skip the relevant questions in the submission window. Answers may be listed in any order.

## C. Fraud detection

In this question, you are provided with a dataset containing a list of credit card transactions and are requested to analyse the data and detect transactions that are fraudulent. The majority of the transactions in the dataset have already been marked with the correct value (fraud/not fraud), and you’re required to label the remaining transactions using patterns found in the data and reasoning.

The dataset provided contains a list of 1043 transactions done by 66 customers representing all of their credit card activity over the period of one week (21-28/11/2018), the transaction amount, and additional background information as described below:

|Columns| |
| :- | :-|
|index             |Unique transaction ID (random)  |
|customerID         |Unique customer ID number  |
|transactionAmount  |Transaction sum  |
|monthAvgAmount     |Customer’s monthly average sum of transactions (historic)  |
|totalDeclines      |Number of times the customer’s card was declined  in the 2-hour time window around the transaction  |
|isForeign        | (Y/N) - is the seller/vendor in the transaction  located in a foreign country?  |
|isTrustedSeller   |(Y/N) - is the receiving party a trusted seller/vendor?|  
|hasHistory        |(Y/N) - does the customer have a history of past transactions with seller/vendor?  |
|isFraud          | (Y/N) - is this a fraudulent transaction. This is the target variable you must fill where it’s currently empty  |

### Input format

*transactions.csv* (you should download it below)

### Output format

*transactions.csv* with missing values in column `isFraud` ﬁlled with Y/N predictions.

### Notes

Maximum points for question **C**: **16** points.

You are **not required** to use any dedicated data science tools or resources to solve this question.

Hint: Try to ﬁnd patterns in the labelled data, and deﬁne common rules and hueristics to produce your solution. Do not try to label each transaction manually.

[Download problem dataset](https://github.com/juliiami/YData_sample_tests/blob/main/datasets/test2/C/transactions.csv)

# Programming

The problems below are purposed to check your programming skills. You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

You can use the additional libraries - numpy, pandas, memory_profiler (they are needed to be pre-installed).

## D1. Chess: Find the bug

In this question, you are required to ﬁnd **the line containing an error**.

You are given a pseudocode of a solution for the following problem:

You are given a chess board with $n$ rows and $n$ columns. There are $m$ chess rooks located on the board. Determine a number of cells that are free* and not under attack by any rook. (See illustration below – places threatened by the rook are marked with `‘x’`)

*free = not occupied by a rook

<p style="text-align:center;"><img src=images/image4.png width=300 height=300 />

```
# input:  
# N - size of the chess board  
# rooks - 2D array of integers, rooks[i][0] is a row and rooks[i][1] is a column  
 
1.  board - empty [1..N]x[1..N] array of integers, initialized with 0  
2.  
3.  for id from 0 to length(rooks) - 1:  
4.      for row from 1 to N:  
5.          for column from 1 to N:  
6.              if row == rooks[id][0] and column == rooks[id][1]:  
7.                  board[row][column] = 1 // the rook  
8.              if row == rooks[id][0] and column != rooks[id][1]:  
9.                  board[row][column] = 2 // attacked cell  
10.             if row != rooks[id][0] and column == rooks[id][1]:  
11.                 board[row][column] = 2 // attacked cell  
12.  
13.  
14. unattacked_cells = N  * N // number of unattacked cells  
15. for row from 1 to N:  
16.     for column from 1 to N:  
17.         if board[row][column] == 2:  
18.             unattacked_cells -= 1  
19.  
20. return unattacked_cells
```

**Note:** ’An error’ may refer to any situation in which in order for the program to run correctly, the pseudocode needs to be modiﬁed through changing, deleting, or adding some symbols. All such changes must be done within a single line of the pseudocode.

**Hint:** The error is not in the synthax of the pseudocode

### Input format

One integer, the number of the line containing an error.

### Notes

Maximum points for question **D1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

**Note:** In this question you do not receive the outcome of your submission, only a notiﬁcation that submission was sent successfully.

## D2. Chess: Implement

In this question you are required to **write code in the window below** or **submit a source ﬁle** implementing a solution to the problem presented in the previous question (D1).

**Note:** Your solution should read the description of chess board from test ﬁles 01-40.

### Input format

The ﬁrst input line contains two integers $n$ and $m$ ($1≤n≤100$, $1≤m≤100$). Each of the $m$ following lines contains two integers $r_i$ and $c_i$ ($1≤r_i≤n$, $1≤c_i≤n$).

**Note:** The input ﬁle has UNIX line endings format (Unix LF). https://en.wikipedia.org/wiki/Newline

It is known that all rook positions are diﬀerent.

### Output format

Print one integer, the number of cells that are free* and not under attack of any rook.

*free = not occupied by rook

#### Sample

|Input| Output|
| :- | :-|
|5 4 | 4
|2 2 ||
|1 1 ||
|4 2 ||
|1 3 ||

### Notes

Illustration of sample case:

<p style="text-align:center;"><img src=images/image5.png width=200 height=200 />

Maximum points for question **D2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [1]:
# upload the input file

with open('datasets/test2/D2/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['5 4', '2 2', '1 1', '4 2', '1 3']

In [2]:
# upload the output file

with open('datasets/test2/D2/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['4']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## D3. Chess: Optimize

The pseudocode given in D1 has sub-optimal complexity.

Optimize your solution for the previous problem (D2) if necessary, allowing it to run eﬃciently. Your solution will run on tests with larger constraints: $1≤n≤100000$,$1≤m≤100000$.

### Input format

The same as in D2.

### Output format

The same as in D2.

#### Sample

|Input| Output|
| :- | :-|
|5 5| 0|
|2 4||
|5 1||
|4 4||
|3 3||
|1 3||

### Notes

Maximum points for question **D3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [3]:
# upload the input file

with open('datasets/test2/D3/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['5 5', '2 4', '5 1', '4 4', '3 3', '1 3']

In [4]:
# upload the output file

with open('datasets/test2/D3/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['0']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## E1. Shopping: intersection

In this question you are required to submit **a source ﬁle**, implementing a solution to the problem described below.

In this question (E1-E3) you are asked to assist a store in building a series of tools to understand its customers’ behavior and improve future sales.

You are provided with a ﬁle, *purchase_data.csv*, containing a dataset of past purchases by customers in the store’s loyalty club. Each row in the dataset represents a single past purchase by a club member of a speciﬁc product.

In this question you are asked to write a code implementing a function `find_common`, which receives as input the IDs of two products and returns the list of all members who bought **both** products.

### Input format

Two integers - `product_1`, `product_2`, corresponding to product IDs in the dataﬁle (`product_1` $\neq$ `product_2`).

**Data**:

*purchase_data.csv* (columns: timestamp, memberID, productID, productScore). File can be downloaded from Notes section below.

### Output format

Print a sequence of integers corresponding to memberIDs of members who bought both products, each number in a single line. Return 0 if no members bought both products.

#### Sample

|Input| Output|
| :- | :-|
|59 72| 1|
||36|
||50|
||73|
||78|
||80|
||91|
||96|
||104|
||119|
||126|
||131|
||132|
||156|
||174|
||196|
||201|
||205|
||208|
||247|

### Notes

Maximum points for question **E1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

[Download problem dataset](https://github.com/juliiami/YData_sample_tests/blob/main/datasets/test2/E1/purchase_data.csv)

In [5]:
# upload the input file

with open('datasets/test2/E1/purchase_data.csv') as f:
    data = f.read().splitlines() 
    
f.close()

## or you can use pandas

# import pandas as pd
# data = pd.read_csv('datasets/test2/E1/purchase_data.csv')

In [6]:
# upload the input file

with open('datasets/test2/E1/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['59 72']

In [7]:
# upload the output file

with open('datasets/test2/E1/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['1',
 '36',
 '50',
 '73',
 '78',
 '80',
 '91',
 '96',
 '104',
 '119',
 '126',
 '131',
 '132',
 '156',
 '174',
 '196',
 '201',
 '205',
 '208',
 '247']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## E2. Shopping: similarity

In this question you are required to submit **a source ﬁle**, implementing a solution to the problem described below.

In this question, you are asked to implement a measurement of similarity of purchasing history between two products. To do this, you must ﬁnd the common customers who bought both products using the function you wrote in the previous question, and count how many times each of them bought each of the two products (`count[memberID,productID]`).

The formula for the measurement is as follows:

```
similarity (product_1, product_2):  
    common = find_common(product_1, product_2)  
    for member in common:  
        sum_mult += (count[member,product_1] - productScore[product_1]) *  
                    (count[member,product_2] - productScore[product_2])  
        sum_sq_1 += (count[member,product_1] - productScore[product_1])^2  
        sum_sq_2 += (count[member,product_2] - productScore[product_2])^2  
    similarity = sum_mult / (sqrt(sum_sq_1) * sqrt(sum_sq_2)) 
```

You are requested to write code implementing the measurement described above, so when given a pair of products (`product_1`, `product_2`), it will return the score resulting from the formula.

**Note:** The data is the same as in question E1. In addition to columns used in E1 (`memberID`, `productID`), the formula makes use of `productScore`: a score given by the store to a speciﬁc product based on past sales performance.

`productScore` is **constant** for all rows with the same `productID`.

### Input format

Two integers - `product_1`, `product_2`, corresponding to product IDs in the dataﬁle (`product_1` $\neq$ `product_2`).

**Data**:

*purchase_data.csv* (columns: timestamp, memberID, productID, productScore)

### Output format

Print one ﬂoat value, the score resulting from the running the comparison formula on the two products.

Return NA if there are **<2** common members or the similarity cannot be computed.

Round your output to **two decimal digits**.

#### Sample 1

|Input| Output|
| :- | :-|
|1 2 | 0.47|

#### Sample 2

|Input| Output|
| :- | :-|
|142 222 | 0.52|

### Notes

Maximum points for question **E2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Users (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [8]:
# upload the input file

with open('datasets/test2/E2/purchase_data.csv') as f:
    data = f.read().splitlines() 
    
f.close()

## or you can use pandas

# import pandas as pd
# data = pd.read_csv('datasets/test2/E2/purchase_data.csv')

In [9]:
# upload the input file

with open('datasets/test2/E2/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['1 2']

In [10]:
# upload the output file

with open('datasets/test2/E2/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['0.47']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## E3. Shopping: recommend

In this question, you are required to submit **a source ﬁle**, implementing a solution to the problem described below.

In this question, you are asked to use your work in the two previous questions to oﬀer relevant products to a new member who has just made their ﬁrst purchase at the store.

Given a list of 3 product IDs and their counts representing the client’s current history, you should ﬁnd and return the ID of the product with the highest predicted purchase count.

To do this, you should use the `similarity` function (from E2) to ﬁnd the most similar products to the ones in the new client’s purchase among all other products, predict how much of each product is the new customer likely to buy in the future using the formula below, and return the one among them with the highest predicted count.

```
predicted_count (new_member, candidate_product):  
   for bought_product:  
      sum_mult += similarity(candidate_product, bought_product) * count(new_member, bought_product)  
      sum_similarities += abs(similarity(candidate_product, bought_product))  
   predicted_count = (sum_mult / sum_similarities)  
```

* Calculate only for products whose similarity with target is not NA
* If `predicted_count` cannot be calculated, treat it as 0
* If several products tie for highest predicted count, return the one with lowest ID.

### Input format

Three lines, each containing two integers separated with space - productID and count, corresponding to Product IDs in the dataﬁle, representing products purchased by new member and the count for each product.

**Data**:

*purchase_data.csv* (columns: timestamp, memberID, productID, productScore)

### Output format

Print one integer, corresponding to the `product_ID` of the product with the highest predicted count.

#### Sample 1

|Input| Output|
| :- | :-|
|1 2 | 4 |
|2 2 ||
|3 2 ||

#### Sample 2

|Input| Output|
| :- | :-|
|77 87 | 296 |
|177 1 ||
|178 2 ||

#### Sample 3

|Input| Output|
| :- | :-|
|111 1 | 6 |
|55 5 |
|121 3 |

### Notes

Maximum points for question **E3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [11]:
# upload the input file

with open('datasets/test2/E3/purchase_data.csv') as f:
    data = f.read().splitlines() 
    
f.close()

## or you can use pandas

# import pandas as pd
# data = pd.read_csv('datasets/test2/E3/purchase_data.csv')

In [12]:
# upload the input file

with open('datasets/test2/E3/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['1 2', '2 2', '3 2']

In [13]:
# upload the output file

with open('datasets/test2/E3/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['4']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## F1. Schools: pre-process

To solve this question you are required to submit **a result csv-ﬁle** after processing an input ﬁle.

You are given a data ﬁle *schools.csv*.

In this question you are provided with a dataset of school statistics and performance on standardised national tests. You are required to perform a series of manipulations and calculations on the dataset.

Data dictionary:

|Col.num |  Col.name | format |  notes  |
| :- | :- | :- | :- |
|1   | School Index  |number   |Unique school ID  
|2   |District    |  number |  Zip code for the school area  |
|3-4  | Lowest/Highest Year    | text   | String corresponding to the value of the lowest/highest grade year in the school. Range from low to high: PK,0K,1,2,3,4,5,6,7,8,9,10,11,12 |
|5    | School Income Estimate     |  text    | Estimated average income for families in the school | 
|6-9  | Average Proficiency Score, |  percent | School performance statistics  |
|     | Student Attendance Rate,  |||
|     | Students Chronically Absent,|||  
|     | Rigorous Instruction  |||
|10-13 |Year X - All Students Tested |number   |Total number of students in that grade year that were tested in standardised exam | 
|14-17| Year X - Top Scoring        | number   |Number of students in that grade year that achieved the maximum grade category in the standardised exam  |
|18    |Student Achievement Rating   |text    | Verbal estimate of school performance on standardised tests

Clean the dataset and correct errors in the following manner (**in the listed order**):

* Remove entries (rows) with any of the following data entry errors:
    - Student Attendance Rate $\leq 0$
    - Rigorous Instruction $\leq 0$
    - Students Chronically Absent $\geq 100\%$
* Remove entries (rows) with N/A in “Student Achievement Rating” OR “Average Proﬁciency Score”
* Convert “Student Achievement Rating” column from text into numeric values as follows:
    - Not Meeting Target $= 0.0$
    - Approaching Target $= 0.5$
    - Meeting Target $= 0.8$
    - Exceeding Target $= 1.0$

### Input format

*schools.csv* (link to download it is located in ’Notes’ section below)

### Output format

Submit the resulting csv ﬁle: *schools.csv*. Do not reorder columns or rows in the ﬁle.

### Notes

Maximum points for question **F1**: **7** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

[Download problem dataset](https://github.com/juliiami/YData_sample_tests/blob/main/datasets/test2/F1/schools.csv)

In [14]:
import pandas as pd

data = pd.read_csv('datasets/test2/F1/schools.csv')
data.head()

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,65%,94%,19%,97%,0,0,0,104,0,0,0,8,Exceeding Target
1,310002,2,PK,5,"$26,114.78",69%,98%,6%,93%,125,106,104,0,8,13,11,0,Meeting Target
2,310003,2,PK,5,"$103,399.19",77%,95%,13%,97%,105,142,61,0,9,44,18,0,Meeting Target
3,310004,6,PK,5,"$34,684.21",56%,92%,33%,91%,103,100,81,0,3,7,1,0,Approaching Target
4,310005,6,0K,5,"$29,783.60",53%,93%,26%,89%,90,90,69,0,0,7,1,0,Approaching Target

## F2. Schools: best year

In this question, you are required to submit **a source ﬁle** solving the problem described below. Your program should use **the correct result of the previous problem (F1)** as an input.

Write code solving the following problem: given a school index, ﬁnd and return the grade year with the highest ratio of students who achieved the top score out of the total tested. Exclude grade years, for which performance data is not available (i.e. years where `Year X All Students Tested` $= 0$).

* Return the numeric value corresponding to the grade Year.
* In case of a tie, return the **lowest** grade Year applicable.
* If no applicable year groups exists, return 0.

### Input format

One integer corresponding to `School Index`.

### Output format

Print one integer corresponding to the grade year with maximum calculated ratio.

#### Sample 1

|Input| Output|
| :- | :-|
|310010 |6|

#### Sample 2

|Input| Output|
| :- | :-|
|310014 |4|

### Notes

**Example:**

<p style="text-align:center;"><img src=images/image6.png width=600 height=400 />

Maximum points for question **F2**: **10** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [15]:
# upload the input file

with open('datasets/test2/F2/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['310010']

In [16]:
# upload the output file

with open('datasets/test2/F2/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['6']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb

## F3. Schools: district score

In this question, you are required to submit **a source ﬁle** solving the problem described below. Your program should use **the correct result of the previous problem (F1)** as an input.

Write code which calculates performance by district based on the criteria provided below. Given a district code and Average Proﬁciency Score range (min and max), ﬁnd all the schools corresponding to the criteria, and return the **average** Student Achievement Rating for the schools selected.

For Average Proﬁciency Score you are given a minimum and a maximum value. Find all schools with min $\leq$ Average Proﬁciency Score (school) $\leq$ max. Return the average value for Student Achievement Rating.

* Round your answer to **2 decimal digits**
* If no relevant schools are available, return 0.

### Input format

A list of 3 numbers separated by spaces: district, minimum threshold, maximum threshold.

### Output format

Print out a single ﬂoat value, rounded to **2 decimal digits** corresponding to the average Student Achievement Rating among schools fulﬁlling the criteria described above.

#### Sample 1

|Input| Output|
| :- | :-|
|16 55 65| 0.77|

#### Sample 2

|Input| Output|
| :- | :-|
|3 49 49 | 0.00|

### Notes

Maximum points for question **F3**: **13** points.

**Reminder:** You must select 2 out of 3 questions in programming section: Chess (D), Shopping (E), Schools (F), and answer both selected questions as fully as possible (for example, if you choose Chess and Schools, you should answer questions D1, D2, D3 and F1, F2, F3).

In [17]:
# upload the input file

with open('datasets/test2/F3/01') as f:
    data_in = f.read().splitlines() 
    
f.close()

data_in

['16 55 65']

In [18]:
# upload the output file

with open('datasets/test2/F3/01.a') as f:
    data_out = f.read().splitlines() 
    
f.close()

data_out

['0.77']

In [ ]:
# calculate time and memory usage

%load_ext memory_profiler

def my_function():
     # CODE
    return result

%time my_function()

%memit my_function() 
# 1 Mib = 1.049 Mb